@media print{
	body{
		zoom: 1.5;
	}

	body, html, .container {
		padding: 0 !important;
		margin: 0 !important;
	}

	.row.entry img, .example-image{
		max-width: 100%;
		height: auto;
		max-height: 30rem;

	}

	.entry{
		width: 100% !important;

		page-break-inside:avoid;
		page-break-before:always;
	}

	.entry .body{
		border-top-width: 10px !important;
		border-right: 1px solid #999 !important;
		border-bottom: 1px solid #999 !important;
		border-left: 1px solid #999 !important;
		border-radius: 0;
	}
}