body {
	background: #EAEAEA url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/contemporary_china.png);

	font-family: "Avenir Next", sans-serif;
}

#header {
	background-color: rgba(255,255,255,.9);
	/*padding-top: 1em;
	padding-bottom: 1em;*/
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
	border-bottom: 1px solid #DDD;
}

#header .container {
	padding: 0;
}

#header .navbar {
	margin: 0;
	border: none;
}

#content {
	margin-top: 5em;
}

#content .entry {
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-ms-transition: all 0.25s;
	-o-transition: all 0.25s;

	margin-bottom: 2em;
}

#content .entry div {
	/*width: 95%;*/

}


.row.entry img {
	max-width: 500px;
	height: 100%;
}

.example-image img{
	-webkit-filter: sepia(80%) hue-rotate(90deg) grayscale(70%) brightness(80%) contrast(150%);
	filter: sepia(80%) hue-rotate(90deg) grayscale(70%) brightness(80%) contrast(150%);
	opacity: .8;
}

.entry:hover .example-image img{
	-webkit-filter: none;
	filter: none;
	opacity: 1;
}


.tagname {
	background-color: steelblue;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 0.15em;
	/*color: #FFF;*/
	padding-top: 0.1em;
	/*padding-bottom: 1em;*/
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-ms-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-ms-border-top-right-radius: 5px;
	-o-border-top-right-radius: 5px;
}

.navbar-right .dropdown .dropdown-menu li a {
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 0.15em;
	/*color: #FFF;*/
	/*padding-top: 0.4em;*/
	/*padding-bottom: 1em;*/
	cursor: pointer;
}

.entry .body {
	box-shadow: 0 0 1px rgba(0,0,0,.3), 0 0 10px rgba(0,0,0,.15);
	border-radius: 4px;
	background-color: #FFF;

	border-top: 3px solid steelblue;
	padding: 1em 0;
	min-height: 40em;
	height: 100%;
	overflow: auto;
	transition: all 0.25s;
	-webkit-transition: background-position 1s ease-in-out !important;
	-moz-transition: background-position 1s ease-in-out !important;
	-ms-transition: background-position 1s ease-in-out !important;
	-o-transition: background-position 1s ease-in-out !important;
	/*border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	-ms-border-bottom-right-radius: 10px;
	-o-border-bottom-right-radius: 10px;*/
}

.entry .body:not(.text-only) {
	min-height: 400px;
	cursor: pointer;
}

.entry .body p.lead {
	/*background-color: rgba(255,255,255,1);*/
	font-size: 1.2em;
	font-weight: 600;
	/*line-height: 70px;*/
	padding: 0 1rem;
	margin-bottom: 1.2rem;
	min-height: 3rem;
	cursor: pointer;
	display: block;
}


/*.row.body p.lead span {
	border-bottom: 1px solid #333;
}*/

.examples {
	position: absolute;
	bottom: 0;
}

.examples a{
	font-size: .85em;
}

p.description, p.examples {
	/*background-color: rgba(255,255,255,1);*/
	/*font-size: 14px;*/
	line-height: 1.3;
	padding: 0 1rem;
	margin: 0;
	cursor: pointer;
	margin: 1.5em 0;

}

.entry .body p.description{
	min-height: 5em;
}

.body h4 {
	color: #999;
	/*display: inline-block;*/
	font-size: 1rem;
	letter-spacing: .1em;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0 0 .5em;
	padding: 0;
}

img {
	max-width: 100%;
}

.nav > li > a {
	color: #AAA;
}

.nav > li:not(.active) > a:hover, .nav > li:not(.active) > a:focus {
	/*background-color: #F0F0F0;*/
	/*text-decoration: underline;*/
	background-color: transparent;
	cursor: pointer;
	color: #333;
}

.nav > li.active > a, .nav > li.active > a {
	background-color: #EAEAEA;
	cursor: pointer;
	color: #333;
}

li.category.active a {
	background-color: transparent;
	opacity: 1;
	color: #333;
}

li.category a:hover, li.category.active a:hover {
	background-color: transparent;
	opacity: 1;
	color: #333;
}

li.category a {
	opacity: 0.3;
}

.award {
	font-size: 2em;
	position: absolute;
	bottom: 0.5em;
	right: 0.45em;
	/*color: firebrick;*/
}

.dropdown-menu {
	border: 1px solid #DDD;
	border-top: none;
	background-color: rgba(255,255,255,.9);
	box-shadow: 0em 0em 0px #CCC;
}

.example-image{
	width: 100%;
	height: 15rem;
	overflow: hidden;
	background: #F5F5F5;
	/*border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;*/
	margin: 0 0 2rem 0;
}



